<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yusril.asrama">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.hal_about.AboutActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".activity.hal_kuota.KuotaActivity" />
        <activity android:name=".activity.hal_peraturan.PeraturanAsrama" />
        <activity android:name=".activity.hal_hasil.PerhitunganActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.hal_hasil.HasilActivity" />
        </activity>
        <activity
            android:name=".activity.hal_tambah_mhs.DetailMahasiswaActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.hal_tambah_mhs.List_mahasiswa" />
        </activity>
        <activity android:name=".activity.hal_hasil.HasilActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.dashboard.Dashboard" />
        </activity>
        <activity android:name=".activity.hal_tambah_mhs.List_mahasiswa">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.dashboard.Dashboard" />
        </activity>
        <activity
            android:name=".activity.hal_tambah_mhs.TambahMahasiswa"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.hal_tambah_mhs.List_mahasiswa" />
        </activity>
        <activity
            android:name=".activity.hal_kriteria.KriteriaActivity"
            android:windowSoftInputMode="stateHidden|adjustPan">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.dashboard.Dashboard" />
        </activity>
        <activity android:name=".activity.dashboard.Dashboard" />
        <activity android:name=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>